<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>todosql</title>
  </head>
  <body>
    <form method="post" action="/">
      <input name="todo" type="text" placeholder="todos">
      <button type="submit">enter</button>
    </form>


  </body>
</html>
